@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #252525;
}

body {
  background-color: #EDF4FF;
  color: #252525;
}

/* Custom Scrollbar Styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #38215e;
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #38215e;
}

/* Firefox scrollbar */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #38215e #f1f1f1;
}

/* Service card icon hover effect */
.group:hover .icon-container svg {
  stroke: #38215e !important;
}

